<div class="form-group col-xs-10 col-xs-offset-1">

<%= form_for @link, method: :post, url: go_path do |link| %>

<%= link.url_field :url, class: "form-control", placeholder: "enter link to be shortened." %>
<br />
<%= link.submit class: "btn btn-primary"%>

<% end %>

</div>