<body class='searchpage'>
<div class="col-xs-12">

<div class="row text-center">
<div class="col-xs-12">
<br />
<br />
<br />
<h1 class="resultspageheader text-center">
Let's chop these puppies down.</h1>
</div>


<div>
  <%= render partial: "form_new_link" %>
</div>
</div>

</div>
</body>