<body class="showpage">
<div class="row col-xs-12 text-center">

  <div class="col-xs-10 col-xs-offset-1 text-center page-header">
    <h3 class='newpageheader'>Let's go there. </h3>
    <h1 class='previewpageheader'>&nbsp;-&nbsp;
      <a href="/go/<%= @link.rand_str%>">
	    <%= @link.rand_str %>
      </a>
      &nbsp;-&nbsp;
    </h1>
  </div>
 </div>

<div class="row col-xs-12 text-center">
  <div class="col-xs-10 col-xs-offset-1 text-center page-header">


    <div class="col-xs-12 col-sm-7 col-md-7">
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 transparentdiv">
        <br />
        <p class="lora">clicked:</p>
    	<h3 class="previewpagecounter"><%= @link.counter %>x</h3>
        <br />
    </div>

  </div>
</div>


<div class="row col-xs-12 text-center">
  <div class="col-xs-10 col-xs-offset-1 text-center page-header">
    <%= render partial: "nav" %>
  </div>
</div>

</body>